:root.theme-dark {
  --heading-text: #DB00FF;
  --section-title-color: #FF0070;
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #F1B2CE;
  --subtitle-color: #000028;
  --border-color: #ff0070;
  --border-bottom: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
  --secondary-color: #FF0070;
}

:root.theme-dark .decor {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-text: #db00ff;
    --section-title-color: #ff0070;
    --font-family: "IBM Plex Mono", monospace;
    --bg-color: #000028;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --subtitle-color: #000028;
    --border-color: #ff0070;
    --border-bottom: #f1b2ce;
    --bg-image: url(../images/cover-image-dark.png);
    --secondary-color: #FF0070;
  }

  .decor {
    display: block;
  }
}
