.page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ================= HEADER ================= */

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto 273px auto;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 60px;
  padding: 20px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--border-color, #ff0070);
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  background: transparent;
  transition: border-color var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__title {
  align-self: center;
  margin-left: -2%;
  color: var(--heading-text, #db00ff);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__text {
  justify-self: flex-end;
  align-self: center;
  max-width: 50%;
  font-weight: 700;
}

/* ================= DECOR ================= */

.decor {
  position: absolute;
  top: 20px;
  right: 20px;
}

.decor::before {
  content: "REC";
  position: absolute;
  top: 3px;
  right: 28px;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color, #ff0070);
  border-left: 1px solid var(--border-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color, #ff0070);
  border-right: 1px solid var(--border-color, #ff0070);
}

/* ================= MAIN ================= */

.main {
  padding: 0 20px;
}

.title,
.section__title {
  font-weight: 700;
  font-size: 18px;
}

.content__title {
  color: var(--section-title-color, #ff0070);
}

.text-decor,
.dark-title {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

/* ================= ARTICLES ================= */

.article {
  display: grid;
  gap: 10px;
}

.article__text {
  color: var(--text-color, #f1b2ce);
  line-height: 130%;
}

.section__article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.article__list {
  display: grid;
  gap: 20px;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color, #ff0070);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--border-bottom, #f1b2ce);
}

.section__article-text-link:focus-visible {
  outline: 1px solid currentColor;
}

/* ================= SECTIONS ================= */

.content__section {
  display: grid;
  grid-template-columns: minmax(236px, 1fr) 2fr;
  gap: 20px;
}

.focus {
  margin-block-end: 63px;
}

.focus__container .article {
  margin-block-end: 20px;
}

.concentrate {
  display: grid;
  gap: 20px;
  margin-block-end: 80px;
}

.concentrate__container {
  display: grid;
  gap: 20px;
}

.concentrate-better {
  margin-block-end: 80px;
}

.concentrate-better__title {
  margin-bottom: 20px;
}

.section {
  line-height: 130%;
}

.section:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section:last-of-type .section__title {
  grid-column: 1 / -1;
}

.section:last-of-type .section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section:last-of-type .section__image:first-of-type,
.section:last-of-type .section__image:last-of-type {
  grid-column: span 2;
}

.section:last-of-type .section__image:nth-of-type(2),
.section:last-of-type .section__image:nth-of-type(3) {
  grid-row: span 2;
}

/* ================= FOOTER ================= */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 60px;
  padding: 20px;
}

.footer__title {
  color: var(--heading-text, #db00ff);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

/* ================= MEDIA ================= */

@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }

  .header {
    margin-block-end: 40px;
    padding: 10px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-top: 65px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-width: 100%;
    margin-bottom: 45px;
  }

  .decor {
    top: 5px;
    right: 30px;
  }

  .decor::before {
    top: 10px;
    right: 10px;
  }

  .decor::after {
    top: 13px;
    right: -10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .focus {
    margin-block-end: 30px;
  }

  .concentrate,
  .concentrate-better {
    margin-block-end: 50px;
  }

  .footer {
    margin-block-start: 45px;
  }

  .content__section,
  .concentrate__container,
  .section:last-of-type {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .section:last-of-type .section__image {
    height: auto;
  }

  .section:last-of-type .section__image {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-top: 170px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__title {
    margin-top: -40px;
    margin-left: -20px;
  }

  .header__text {
    max-width: 364px;
    margin-bottom: 110px;
  }

  .concentrate {
    grid-template-columns: 1fr 2fr;
  }

  .concentrate > .content__title {
    grid-column: 1;
  }

  .concentrate__container {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin-top: 80px;
  }

  .header__text {
    margin-bottom: 30px;
  }

  .content__section {
    gap: 10px;
    align-items: start;
  }

  .focus__container {
    display: grid;
    gap: 5px;
    grid-column: 2;
  }

  .concentrate {
    grid-template-columns: minmax(236px, 1fr) 2fr;
    gap: 20px;
  }

  .concentrate__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .section__article__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
